
#canvas{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    
    
}

/* .bg-animation-effect{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
} */

/* .bg-animation-effect div{
    height: 6px;
    width: 6px;
    background-color: #587a8a;
    margin-left: calc((100% - 40px)/11);
    border-radius: 50%;
}

.bg-animation-effect div:nth-child(even){
    animation: evenItems 9s linear infinite;
}

@keyframes evenItems {
    0%{
        transform: translateY(0vh);
        transition: 2s;
    }

    100%{
        transform: translateY(12.5vh);
        transition: 2s;

    }
}

.bg-animation-effect div:nth-child(odd){
    animation: oddItems 8s linear infinite;
}

@keyframes oddItems {
    0%{
        transform: translateY(0vh);
        transition: 2s;

    }

    100%{
        transform: translateY(-12.5vh);
        transition: 2s;

    }
} */